/*
------------------------------
this is the css to set up the defaults for the project like media breakpoints, colors, etc
------------------------------
*/
/*
------------------------------
this is the css for the navbar and the footer
------------------------------
*/
#br-body__info-lines {
  opacity: 0;
  text-align: center;
  margin-bottom: 40px; }

#br-body__input-field {
  width: 100%;
  margin-top: 15px; }

#br-body__restart-button {
  opacity: 0; }

/*
------------------------------
this is the css for the graphic and graphic text
------------------------------
*/
#br-body__canvas {
  max-width: fit-content;
  margin: 0 auto; }

#canvas-element {
  border: solid 1px black;
  max-width: fit-content;
  margin: 0 auto; }

/*
------------------------------
this is the css for the wrapper that surrounds the list of household members
------------------------------
*/
.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 60px; }
  @media (min-width: 46.25em) {
    .body-wrapper {
      max-width: 40%; } }

/*
------------------------------
this is the combined css. import all the files and set some higher level settings
------------------------------
*/
html {
  width: 100%; }

body {
  margin: 0 auto;
  background-color: #E4E2E1;
  color: #333;
 }
  body p {
    font-size: 14px; }


    .key {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    .key_block {
        display: flex;
    }

    .key_break {
      height: 20px;
      width: 40px;
      margin: 2px 2px;
    }
/*# sourceMappingURL=main.css.map */

path {
  fill:   #c4c4c4;
}
.noData{
   fill:   #c4c4c4;
 }

  .over10{
     fill:   #38AB8E;
  }

  .over5{
     fill:   #CCCB6C;
  }

  .over1{
     fill:   #F2CF6F;
  }

  .under1{
     fill:   #FD7061;
  }
  .highlighted {
    stroke-width: 2px;
    stroke: white;
    opacity: .5;
  }

  #text_container.highlighted {
    opacity: 1;
  }

  #text_container {
    max-width: 500px;
    min-height: 40px;
    font-size: 1em;
    line-height: 1.3em;
    color: #999999;
  }

  .uit-map-container {
    position: relative;
    margin-top: 30px;
  }

  .subhead_content {
    display: flex;
    flex-direction: row;
  }

  .countryLookup {
    background-color: white;
    box-shadow: 3px 3px 0px #000;
    padding: 8px;
    border: 1px solid #333;
  }
