@import "defaults";
@import "text";
@import "graphic";
@import "body";

/*
------------------------------
this is the combined css. import all the files and set some higher level settings
------------------------------
*/

html {
    width: 100%;
}

body {
    margin: 0 auto;
    background-color: $comic-bg;
    color: $text-color;

    p {
      font-size: 14px;
    }
}
