/*
------------------------------
this is the css for the wrapper that surrounds the list of household members
------------------------------
*/

//wrapper surrounding the household area
.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    margin: 0 auto;
    margin-top: 60px;

    @include mq($from: tablet) {
        max-width: 40%;
    }
}
