/*
------------------------------
this is the css for the navbar and the footer
------------------------------
*/
.nv-navbar{
    background-color: $white-bg;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $neutral-black;
    min-height: 80vh;
    position: relative;

    img {
      max-width: 100px;
    }

    @include mq($until: tablet) {
        min-height: 90vh;
    }
}

.nv-navbar-brand {
  display: flex;
  flex-direction: column;
  font-family: 'Proza Libre';
  position: absolute;
  top: 5px;
  right: 5px;
  //font-family: 'Neucha';
}

.nv-navbar-main-image {
  img {
    max-width: 15%;
    position: absolute;
    left: 45vw;
    bottom: 15vh;
  }

  @include mq($until: tablet) {
      img {
        max-width: 85%;
        left: 8vw;
      }
  }
}

#input-field {
  width: 100%;
  margin-top: 15px;
}
