/*
------------------------------
this is the css for the graphic and graphic text
------------------------------
*/
#br-body__canvas {
   max-width: fit-content;
   margin: 0 auto;
 }

 #canvas-element {
     border: solid 1px black;
     max-width: fit-content;
     margin: 0 auto;
 }

 path {
   fill:   #c4c4c4;
 }

 .noData{
    fill:   #c4c4c4;
  }

   .over10{
      fill:   #38AB8E;
   }

   .over5{
      fill:   #CCCB6C;
   }

   .over1{
      fill:   #F2CF6F;
   }

   .under1{
      fill:   #FD7061;
   }

   .highlighted {
     stroke-width: 2px;
     stroke: white;
     fill: #fff !important;
   }
}
