/*
------------------------------
this is the css for the graphic and graphic text
------------------------------
*/
#br-body__canvas {
   max-width: fit-content;
   margin: 0 auto;
 }

 #canvas-element {
     border: solid 1px black;
     max-width: fit-content;
     margin: 0 auto;
 }
