/*
------------------------------
this is the css for the navbar and the footer
------------------------------
*/

#br-body__info-lines {
  opacity: 0;
  text-align: center;
  margin-bottom: 40px;
}

#br-body__input-field {
  width: 100%;
  margin-top: 15px;
}

#br-body__restart-button {
  opacity: 0;
}
